<h1>Pirate</h1>
  <p>Name: <%= @pirate.name %><br>
     Weight: <%= @pirate.weight %> pounds<br>
     Height: <%= @pirate.height %> inches
  </p>

<h2>Ship</h2>
<% @ships.each do |ship| %>
    <p>Name: <%= ship.name %><br>
       Type: <%= ship.type %><br>
       Booty: <%= ship.booty %></p>
<% end %>
